html, body, section {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    background-image: url("../images/dust_scratches.png");
}

.wrapper {
    height: auto;
    margin: 0 auto -100px; 
    min-height: 100%;
    padding: 0 0 100px; 
    overflow: auto;
}


/* Page navigation */

.navbar {
    background-color: #fff;
    border-bottom: 2px solid #cccccc;
    text-align: right;
    height: 100px;
    margin-top: -10px; 
    width: 100%;
}

.navbar-content {
    width: 960px;
    height: 90px;
    margin: 0px auto;
}

.name {
    width: 25%;
    height: 60px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    color: #ffffff;
    float: left;
    padding: 40px 10px 0 10px;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: .02em;
}

ul {
    display: inline-block;
    margin-top: 45px;
}

.menu-link {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#menu-link_portfolio {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

a:visited {
    color: #777777;
}


/* Main page content display panel */

.page-content {
    margin: 40px auto 0 auto;
    width: 960px;
}

.subhead {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 26px;
    font-weight: bold;
}

.main-content > hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 3px;
    border: 0;
    margin: 25px 0 15px 0;
}

.main-content {
    border: 1px solid #dddddd;
    background-color: white;
    width: 590px;
    padding: 40px 30px 10px 30px;
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 1.7em;
    font-size: 18px;
}


/* About Me panel */

#bio-image {
    float: left;
    margin: .6em 1em 0 0;
    height: 150px;
    width: 200px;
}

.about-text::after {
    content: "";
    height: 1em;
    display: block;
}


/* Contact form */

form {
    margin-top: 30px;
}

input[type=text], textarea {
    width: 96%;
    padding: 10px 5px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777777;
}

textarea {
    height: 200px;
}

::placeholder {
    color: lightgray;
    font-size: 14px;
}

#submit-button {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border: none;
    margin-bottom: 10px;
}

#submit-button:hover {
    background-color: #5accc6;
}


/* Portfolio images */

img.project {
    margin-bottom: 55px;
    width: 275px;
    height: 205px;
}

#project-images {
    display: block;
    margin-top: 40px;
}

#project-two, #project-four {
    margin-left: 30px;
}

.project-container {
    display: inline-block;
    position: relative;
}

.banner {
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    font-size: 22px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 75px;
}

#project-two_container > .banner,
#project-four_container > .banner {
    width: 275px;
    left: 30px;
}


/* Social media links sidebar */

h3.subhead {
    font-size: 21px;
}

.connect-social > hr {
    color: #dddddd;
    background-color: #dddddd;
    height: 2px;
    border: 0;
    margin: 20px 0 15px 0;
}

.connect-social {
    width: 198px;
    background-color: white;
    border: 1px solid #dddddd;
    float: left;
    padding: 30px;
    margin-left: 45px;
    margin-bottom: 0;
}

span.icon {
    border: 2px solid white;
    border-radius: 12px;
    display: inline-block;
    height: 55px;
    width: 55px;
    position: relative;
}

span.icon:hover {
    border: 2px solid lightskyblue;
}

.fa-stack-overflow.fa-5x {
    position: absolute;
    padding: 7px;
    font-size: 41px;
    color: #fff;
    background-color: #f4a73b;
    border-radius: 0.25em;
    width: 41px;
    text-align: center;
}

span.linkedin {
    margin-left: 4px;
}

.fa-linkedin-square.fa-5x {
    color: #2d7ab4;
    font-size: 65px;
    margin: 0 10px;
    padding: -10px 0;
    position: absolute;
    top: -5px;
    left: -10px;
}

.fa-github-square.fa-5x {
    color: #333333;
    font-size: 65px;
    position: absolute;
    top: -5px;
}


/* Footer and copyright info */

footer {
    clear: both;
    width: 100%;
    background-color: #666666;
    border-top: 7px solid #4aaaa5;
    height: 50px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    color: #c0c3c4;
    margin-top: 50px;
    position: relative;
}




@media screen and (max-width: 980px){
    .page-content {
        width: 730px;
    }

    .main-content{
        
    }
    .connect-social {
        margin-left: 0px;
        /* float: right; */
    }

}

@media screen and (max-width: 768px){
    
}


@media screen and (max-width: 640px){

    .wrapper{
        width: 640px;
        overflow: auto;
    }
    
    .navbar {
        height: 155px;
        text-align: center;
    }

    .navbar-content{
        width: 100%;
        text-align: center;
    }
    
    .name {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    ul {
        display: table;
        clear: both;
        text-align: center;
        margin: 10px auto;
        width: 100%;
    }

    ul:before {
        display: block;
        content: "";
        clear: both;
        height: 1em;
    }

    .menu-link {
        padding: 0 70px !important;
    }

    #menu-link_portfolio {
        /* border: none; */
    }

    .project-container{
        width: 540px;
    }

    img.project {
        width: 540px;
        height: 400px;
        margin-bottom: 40px;
    }

    #project-two, #project-four {
        margin-left: 0;
    }

    .page-content {
        margin: 20px auto 0 auto;
    }
    .main-content {
        width: 540px;
        margin-left: 20px;
    }

    #bio-image {
        width: 540px;
        height: 400px;
        margin-bottom: 1em;
    }

    .connect-social {
        width: 540px;
        margin: 40px 20px 0;
    }


}



